[2012-10-31 00:14] KAllan357 opened #17 "HTTP Artifacts are always downloaded"
Should add the checksum attribute for the remote_file resource to check against.

[2012-11-19 23:51] #17 closed, assigned to nobody

[2012-11-26 15:18] kief opened #23 "Rollback"
Hi,

Handy cookbook, I much prefer the model of using an artifact in a repo to pulling from source control.

As far as I can see, there's no way to roll back to a previous release. If I run with version set to 1.0, then again set to 2.0, then a third time setting the version to 1.0, then version 2.0 is still in place.

I'd expect it to relink to the 1.0 release and restart the app, but instead it

[2012-11-28 20:49] KAllan357 opened #24 "does having a 'latest' folder matter"
If the version you want is provided as `latest` and the `artifact_location` is not a Nexus, you will still end up with a `latest` folder.

The condition in the Library should probably change to:

`if version.casecmp("latest") == 0 && is_nexus?(artifact_location)`

but the question is, should it?

[2012-11-29 08:16] promisedlandt opened #25 "artifact_deploy procs don't change cwd"
From the readme

[code]

does not work for me, because it is executed in  `/srv/pvpnet`, and not in `/srv/pvpnet/releases/whatever`.

Since the procs are just `recipe_eval`'ed, it seems hard to change the execute block in the proc to add the cwd automatically, but then the example in the readme should be changed to

[code]

Same thing for before_migrate proc.

[2012-11-29 18:32] reset commented on #25
thanks @promisedlandt we'll take a look at this one

[2012-12-04 07:56] KAllan357 opened #26 "Files written in a proc"
If a file is written into the artifact deployment directory during one of the Proc calls, it will be included in the manifest.

If that file is a configuration file that can/should be changed throughout the lifetime of that version of the artifact, it should not be overwritten because the manifest check caused a redeployment.

Perhaps, we should add an attribute where we can list files to skip dur

[2012-12-05 19:21] choubacha opened #28 "force does not clear out contents of current release"
If the force option is specified, the current release directory is not rm -rfed. The implication is that if my tarball has files removed from it and I redeploy, I expect the files to be removed from the installed directory. Since the files are not removed, this expectation is not met.

My recommendation is to change:

[code]

to

[code]

There will probably need to be some other changes, but this

[2012-12-05 19:24] choubacha opened #29 "is_tarball assumes content is gzip'ed"
extract_artifact passes xzf to tar which will fail if the tarball is not gzipped. Since there are multiple ways to zip and also the ability to leave unzipped, we need to have the ability to specify the type of tarball.

[code]

[2012-12-12 03:50] reset opened #32 "All hooks should execute even if artifact does not need to be deployed"

[2012-12-12 03:51] reset opened #33 "Fix SSL errors with Nexus CLI when deploying from Nexus"

[2012-12-12 03:52] reset opened #34 "Deploying out of the Nexus is not idempotent"

[2012-12-12 20:47] ivey commented on #23
Are you sure you have the latest version? I believe this was (supposed to be) fixed in a849beba8cd58fc38f8d2a7b06ce3ff28d39e15a

[2012-12-12 21:05] KAllan357 commented on #23
@ivey, I don't think a849beba8cd58fc38f8d2a7b06ce3ff28d39e15a was meant to fix the bug described here. In the current version of the code (and possibly previous versions as well) when you attempt to "roll back" to an already released version, the `deployed?` check will return true and the resource won't do anything - including switch the `current` symlink to the 'new' version.

[2012-12-12 21:12] ivey commented on #24
Is this addressed in #31?

[2012-12-12 21:13] ivey commented on #32
I disagree about before_migrate ... I think it should only be run if we are migrating.

[2012-12-12 21:23] ivey commented on #23
`if get_previous_release_version != new_resource.version`

Seems like it will do a deploy regardless of what version is deployed, if it's not the one we're trying to deploy, right?

I'm working on a test harness for this cookbook, so I can confirm shortly.

[2012-12-12 21:26] ivey commented on #32
Do we need an after_extract to handle "Where do I put bundle install?"

[2012-12-12 21:32] KAllan357 commented on #24
Yes, #31 will fix both the bug itself and partly solve this. I think the question is still valid.

We've sorta set a precedent in other cookbooks where:

[code]

So local deploys still get a `latest` folder. Is that bad?

[2012-12-12 21:34] ivey commented on #32
Actually, I may disagree on the whole issue. We're having a problem where bundler is running every time in the before_migrate. My feeling is that this is a bug: if the deployed code hasn't changed, I don't want bundler running. Do you think that is a correct statement?

[2012-12-12 21:48] ivey commented on #24
Got it. Yes, that's annoying but I don't see any way to fix it, short of looking in `my/mounted/artifact` and parsing the filenames. Regardless, I don't personally think it's something the artifact cookbook should fix.

[2012-12-13 01:19] reset commented on #32
@ivey I think you are right that before_migrate and after_migrate (if it existed) should only run on migrate.

We may not have enough hooks defined and that may be why you disagree on the whole issue. We should allow people to configure their application within the LWRP to have access to the folder structure and we want to make sure the configuration is valid even if the application doesn't need t

[2012-12-13 18:09] choubacha opened #35 "Name of resource could break deployment"
The name of the resource is used in the artifact path but white-space is not removed. If the name contains spaces, for example, the shell commands will most likely fail or behave unpredictably

[code]

In the above code, if the name was "Deploying Files for User" then the `command` being sent to the execute resource would be:

"cp /tmp/artifacts/Deploying Files for User /home/user"

The spaces wil

[2012-12-13 22:23] ivey commented on #35
Like other resources where the name is significant, the name should be the name of the artifact. I'd be more inclined to support throwing an error on whitespace, or some proper escaping on the shell commands.

[2012-12-13 22:27] ivey commented on #32
Shouldn't that config file be in a template resource outside the artifact block? Or does it need to be inside for some reason? My feeling right now is that "Deploying an artifact" is the job of this cookbook, and if v1.2.3 of the artifact is deployed, and :force is not set, we shouldn't do anything. Configuration should happen regardless of the artifact state. Happy to be convinced otherwise thoug

[2012-12-13 22:28] ivey commented on #32
The simple solution would be to have some hooks that always run, some that only run if the artifact is being deployed, and let users pick the one that meets their needs.

[2012-12-13 22:40] KAllan357 commented on #32
I think one of the reasons for the templates in procs argument is the current idempotency check. The manifest file that is used is meant to ensure that the artifact is still in the state is was deployed in. Randomly deleting a file from the deployed directory should prompt a redeploy on the next chef run.

Similarly, adding a file into the deployment directory after deployment would cause the mani

[2012-12-13 22:46] ivey commented on #32
Got it. Honestly, I didn't realize we did that. Makes sense.

I'll finish my hooks list and add it to this thread.

[2012-12-13 23:11] ivey commented on #32
Here's what I am thinking. Adds a few redundant hooks, but I have always been bothered that you have to know symlink comes after extract and use before_symlink instead of after_extract, for example.
- check the manifest and save the result
- run before_deploy
- if deploy?
  -  run before_extract / extract / run after_extract
  -  run before_symlink / symlink / run after_symlink
- run configure
- i

[2012-12-14 01:48] reset commented on #32
@ivey looks good to me. Is `configure` a hook as well or all configuration would occur in `before_deploy`?

[2012-12-14 02:43] KAllan357 commented on #32
I like this. Makes sense to me.

[2012-12-20 20:55] tknerr opened #37 "Circular dependency with nexus cookbook"
artifact depends on nexus, and nexus depends on artifact.

Not that it's only "bad style", but it also causes other tools to break, e.g.:
http://permalink.gmane.org/gmane.comp.sysutils.chef.user/7557

[2012-12-21 02:00] reset commented on #37
@tknerr we'll look into fixing the circular dependency in these two cookbooks - it wasn't something we planned. On a side note the resolver in Berkshelf should handle the circular dependency just fine in the mean time - was this not the behavior you observed?

[2012-12-21 17:14] KAllan357 commented on #37
Actually this was something I did intentionally. Perhaps the circular dependency should be broken - especially the artifact cookbook's dependence on nexus - since artifact is only using the `nexus::cli` recipe.

It seems to me like some circular dependencies in cookbooks should actually be an "okay" thing. The nexus cookbook's dependency on artifact is a bit weak - Nexus is an artifact server that

[2012-12-22 21:11] reset commented on #37
@KAllan357 nexus should depend on artifact since we use it to deploy the nexus server, but I think we can work it out so the artifact cookbook doesn't require the nexus one.

[2012-12-26 10:23] capoferro commented on #37
I think a good solution is to separate the Nexus cookbook into Nexus Server and Nexus cookbooks, as Nexus Server is the only bit that requires Artifact, and Artifact will never require Nexus Server.

[2013-01-07 20:10] KAllan357 opened #38 "keep attribute doesnt do anything"
Looks like we have  a method defined - `delete_previous_versions` - but its never used.

[2013-01-07 20:20] KAllan357 commented on #38
Nevermind...I was looking at a branch that I had mucked around with.

[2013-01-07 20:20] #38 closed, assigned to nobody

[2013-01-08 20:03] KAllan357 opened #39 "Support Preseeding of Content"
No matter what, we currently execute this code:

[code]

I'd like to see a way (perhaps an additional attribute) to allow me to pre-seed and install content without switching the current symlink. This would also probably bypass the execution of any of the Procs, which may do any number of things.

It might make sense as an attribute:

[code]

Or an entirely new provider / action

[code]

[code]

[2013-01-08 20:07] KAllan357 commented on #33
Not too sure about this one.

The code on https://github.com/RiotGames/artifact-cookbook/blob/master/providers/deploy.rb#L314

`remote = NexusCli::RemoteFactory.create(config, false)`

The 2nd parameter ensure we don't verify. Perhaps this issue means that we should be able to configure this option, because usually SSL should be working appropriately and defaulting to ignore checking is bad.

[2013-01-08 20:09] KAllan357 commented on #34
This might relate to #26 and #32.

I think the greater issue might be that the code isn't entirely clear about how it goes about ensuring idempotency. The manifest works alright, but not if you change files in the deployed artifact during any of the Proc phases.

Perhaps @reset can clarify more here.

[2013-01-12 01:52] KAllan357 commented on #24
This shouldn't matter. Closing.

[2013-01-12 01:52] #24 closed, assigned to nobody

[2013-01-12 01:53] KAllan357 commented on #26
Closing because this will be fixed by other issues.

[2013-01-12 01:53] #26 closed, assigned to nobody

[2013-01-12 01:54] KAllan357 commented on #28
Tagging this for a 1.0.0 for now and I will think about it a bit.

[2013-01-16 01:42] KAllan357 commented on #28
I'm going to omit this from a 1.0.0 release. While this issue may be a pain in the ass during development / iteration, I don't think it is one you'd see in a production cookbook.

According to most descriptions of Continuous Delivery I've seen, each artifact you create should have a unique version identifier. If your tarball is changing between `artifact_deploy` executions, I believe that should b

[2013-01-16 21:31] KAllan357 commented on #25
This should be addressed in #40. For now, I've updated the documentation to be more clear. We can definitely revisit this issue if we decide its more important in the future.

[2013-01-17 22:15] #25 closed, assigned to nobody

[2013-01-17 22:25] #39 closed, assigned to nobody

[2013-01-17 22:25] #37 closed, assigned to nobody

[2013-01-17 22:25] #34 closed, assigned to nobody

[2013-01-17 22:26] #33 closed, assigned to nobody

[2013-01-17 22:26] #32 closed, assigned to nobody

[2013-01-17 22:26] #29 closed, assigned to nobody

[2013-01-17 22:29] KAllan357 commented on #23
@kief I believe this should be fixed in the 1.0.0 release.

Please change your dependency to the new release and let me know if you experience this bug again.

Kyle

[2013-01-17 22:33] KAllan357 opened #42 "Re-evaluate delete_previous_versions method"
The `delete_previous_versions` method leaves some things to be desired. In particular,
- its position during the deploy -> it comes first when it should possibly execute at the end.
- it defines two ruby methods, `delete_release_path_for` and `delete_release_path_for`. It seems like these could be removed with a recursive :delete action on either the File or Directory resource.
- there may be some

[2013-01-19 00:30] KAllan357 opened #44 "Configurable SSL Checking"
SSL is important, but perhaps broadly assuming all SSL communications with Nexus should be verified was the wrong path.

[2013-01-19 00:57] KAllan357 opened #45 "Reconcile pre_seed and deploy actions"
There are some possible edge cases with both actions in regards to the `retrieve_artifact!` method.

Probably need to do some checking on whether or not we really need to download a file. There might also be a gap in the `extract_artifact!` method and idempotency since its just an `execute` block.

[2013-01-19 01:38] #44 closed, assigned to nobody

[2013-01-21 21:56] ivey commented on #28
I disagree about `rm -rf` and I disagree that it should happen on force. To handle this right for the 99% who aren't deploying different code with the same version _and_ to accommodate the 1% who are making a huge mistake, this should be a separate attribute, `:remove_on_force`, and it should be a `mv` in case you need to recover from it.

[2013-01-21 23:08] #45 closed, assigned to nobody

[2013-01-21 23:08] #35 closed, assigned to nobody

[2013-01-21 23:09] #42 closed, assigned to nobody

[2013-01-22 01:10] KAllan357 opened #47 "regex for whitespace is incorrect"
Screwed up the regex for:

`if @new_resource.name =~ /\W/`

should be `\s`

[2013-01-22 01:22] KAllan357 commented on #47
b66b9ead4028d64c5d65c8f23e6dd4a0fab70620

[2013-01-22 01:22] #47 closed, assigned to nobody

[2013-02-01 23:41] KAllan357 opened #51 "Symlinks can changed in the resource definition without triggering a change in the provider"
If you go from:

[code]

to:

[code]

The symlink won't be changed unless force is set to true.

[2013-02-02 00:49] KAllan357 commented on #51
Just going to add a documentation note that if you expect to be changing your resource as its defined in your recipe, you should add `force node[:some_attribute]` and set that when you want to ensure the whole redeploy process happens.

[2013-02-02 00:49] #51 closed, assigned to nobody

[2013-03-12 00:36] andrewGarson opened #57 "artifact_deploy always notifies"
action :deploy always calls

[code]

This should only be called if something actually gets updated.

Maybe call this only if you need to redploy and leave it up to proc writers to call it when their proc changes something in the system

[2013-03-14 22:34] KAllan357 commented on #57
In general, we've advocated the usage of the provided `restart` Proc to act as a way to execute resources that need to react when a new artifact has been deployed. That being said, due to the architecture of the resource, a bunch of extra Chef contexts are created, so the `notifies` syntax is probably all out of whack.

Chef 11 has support that they document [here](http://wiki.opscode.com/display/

[2013-03-20 02:05] rkialashaki opened #59 "Restart proc does not run when symlink is changing but artifact remains unchanged"
For testing purposes, it is nice to see what sequential chef runs will do when deploying the same artifact but incrementing the version number in the artifact_deploy resource.  When doing so, the restart proc does not run.  It seems that the restart proc will only run when the manifest is changed and not when only a symlink is changing.

[2013-03-20 06:33] KAllan357 commented on #59
The logic in the provider for running the restart proc is as follows:

[code]

This sounds like a bug, possibly one in the `current_symlink_changing?` method. Just to be clear, what you are doing is:
1. Installing some artifact; restart proc runs.
2. Installing another artifact; restart proc runs.
3. Switching back to the old one; restart proc doesnt run.

Is that the behavior you are seeing?

[2013-03-20 18:55] rkialashaki commented on #59
The behavior is this:

1.) in the cookbook, using artifact_deploy to deploy version 1.0 of an artifact for example:

artifact_deploy "artifact" do
  version "1.0"
  artifact_location "http://artifacts.server.com/artifact-1.0.tar.gz"

2.) restart proc runs on the first chef run

3.) increment the version in the cookbook but not on the artifact location:

artifact_deploy "artifact" do
  version "1.1

[2013-03-21 21:19] KAllan357 commented on #59
After working with @rkialashaki and his cookbook, we came to the conclusion that the problem was related to the `runit_service` definition and the recipe in general. Closing this issue.

[2013-03-21 21:19] #59 closed, assigned to nobody

[2013-04-05 13:54] ivey opened #61 "Verify checksum"
If an attr with the artifact.s checksum s included, verify successful download before continuing

[2013-04-05 17:29] KAllan357 commented on #61
Does the `artifact_checksum` work for you? I believe it should be used and checked when the `retrieve_artifact!` method is executed.

https://github.com/RiotGames/artifact-cookbook/blob/master/providers/deploy.rb#L541-L564

[2013-04-05 21:00] ivey commented on #61
Cool. Rob Smith and I were talking and I didn't realize it did this. I'll let him know!

[2013-04-05 21:00] #61 closed, assigned to nobody

[2013-05-13 20:59] KAllan357 commented on #28
I'd like to come back to this for 1.6.0. I like the suggestions by @ivey, but I think we can do without recovery aspect.

[2013-05-13 21:00] ivey commented on #28
Would be a great feature to TDD.

[2013-05-14 23:41] KAllan357 commented on #28
Adding commits to fix this to #64

[2013-05-16 22:16] jhowarth opened #67 "undefined method `unpack' for #<Hash:0x000000022ec848>"
Can we add better error messaging around this?  It confuses a lot of people.

https://gh.riotgames.com/gist/1375

[2013-05-16 22:55] KAllan357 commented on #67
Yes. Will work on this once https://github.com/RiotGames/artifact-cookbook/pull/64 is merged in.

[2013-05-22 13:13] tomduckering opened #68 "Current Symlink & Restart == Chicken & Egg"
Hi,

We have a slight frustration with the fact that the restart occurs before the "current" symlink is in place. We like to refer to the app for it's service control via that symlink.

Obviously there are ways around it but I wonder if you might be able to offer the ability to have the symlink creation somewhere else?

Thanks

[2013-05-22 19:49] KAllan357 commented on #68
Hi @tomduckering, thanks for the report. I'd like to make sure I understand what you are describing.

You are encountering a situation where you are writing out a service to somewhere like `/etc/init.d/myservice` and in that file, it references the `"${deploy_to}/current"` directory that is eventually created by the `artifact_deploy` resource. So when the `restart` proc executes, you have a resour

[2013-05-23 14:19] tomduckering commented on #68
Hey @KAllan357,

Yeah - some differences in the tools but you've got the gist of it. I'm not so much as raising an issue with the code but wondering if you have any particular thoughts on a good approach to overcome this issue.

In the past - using a similar approach - I've had a means to start a named release of the application. e.g. `/etc/init.d/myservice start 1.234` - without a version number

[2013-05-23 17:10] KAllan357 commented on #68
I was chatting about this issue with @ivey and we both agreed on the same conclusion, that in general, it seemed like the best practice to reference the `release_path` of the artifact when configuring files inside the `deploy_to` directory and to reference the `current_path` of the artifact when configuring files outside.

I think that logic also applies here - we're configuring a file that will e

[2013-05-23 19:53] KAllan357 opened #69 "Should do some testing on zip / tar extraction"
Should gather some metrics on the following, because I just don't know.

When you have a large, compressed artifact...
- is the tar command on Windows efficient? (tar binary is installed by Chef)
- `windows_zipfile` is a pure Ruby implementation for `.zip` files. Is there a better implementation that Windows has?
- comare tar command on Unix vs. Windows. Any differences?

[2013-05-24 19:27] #67 closed, assigned to nobody

[2013-05-24 22:08] #28 closed, assigned to nobody

[2013-06-07 21:47] KAllan357 opened #74 "nexus_config_for method still referenced"
This method was renamed to `data_bag_config_for` but apparently a few references were left behind.

[2013-06-20 19:02] KAllan357 opened #75 "artifact_file downloads files when it probably shouldn't"
`artifact_file` downloads a file. On a subsequent chef-run, it will be downloaded again, because the default path is to use the `remote_file` resource which downloads the file to a tmp dir and checks the checksum before copying, even if the file is already there.

[2013-06-20 22:57] #74 closed, assigned to nobody

[2013-06-21 18:11] tberman opened #78 "Unable to specify multiple nexus repositories"
Doesn't seem like there is a way to do it currently.

[2013-06-23 05:56] KAllan357 commented on #78
Thats a good point. Do you think you would find a `repository` attribute useful on the resource? That way you could use an attribute to help further define where the artifact comes from.

[2013-06-23 15:59] tberman commented on #78
Only issue with that is username/password combinations as well, probably don't want them in plain text in the resource

[2013-06-27 11:55] andrewGarson commented on #78
@tberman you should store those in encrypted data bags, then pull them out via a library and pass that to the resource. That could even be baked into the deploy resource....define a repositories hash and the resource just gives the key

[2013-07-01 14:19] sstoiana opened #79 "Support for Ubuntu 12.04"
So far, the only issue that I've seen with the cookbook on Ubuntu 12.04 is that it doesn't specify the correct package names for S3 support:

[code]

[2013-07-10 23:22] KAllan357 opened #81 "Chef::Artifact.get_current_deployed_version will be true even when you delete whats being symlinked to"
Should check the symlink that there are files beneath it.

https://github.com/RiotGames/artifact-cookbook/blob/master/libraries/chef_artifact.rb#L276-L278

[2013-07-22 17:20] #79 closed, assigned to nobody

[2013-07-22 18:08] logikal commented on #81
This is similar to [CHEF-1162](http://tickets.opscode.com/browse/CHEF-1162), which is fixed in 11.6.0 (https://github.com/opscode/chef/pull/814).
Would love to have artifact_deploy match how revision_deploy handles this.

[2013-07-26 00:02] KAllan357 commented on #81
I'm not entirely sure how the pull being referenced here fixes this issue, but I do agree that this should be fixed!

If we'd want our code to be as similar to this Chef code as possible, it seems like we might need to implement some sort of JSON file to handle the status of the files? That might be a rather large change, so at the moment I'm leaning towards just fixing this bug.

[2013-07-29 21:25] ckw4y opened #82 "ssl_verify false no longer works in 1.6.0 and above."
checksum_valid calls Chef::Artifact.get_artifact_sha without passing in the ssl_verify flag

[2013-08-01 17:55] jwalton opened #83 "Weirdo error about 'undefined method checksum' during symlink"
- In `before_symlink` I have a Proc which creates some files in the shared directory if they don't exist, or copies them from our pre-Chef-based install (which had a slightly different directory layout.)  This part appears to be working, as after it all falls apart you can see the files in question there in the shared directory.  One such file is `/opt/benbria/nodeloop-deploy/shared/.migrate-migra

[2013-08-01 17:56] jwalton commented on #83
What's especially weird is, when I try this on a vagrant VM, it works fine.  Grrr...

[2013-08-01 18:36] jwalton commented on #83
By way of workaround, I commented out:

[code]

And added to the end of my before_symlink proc:

[code]

Which, of course, fixes it.

[2013-08-02 04:31] KAllan357 commented on #83
Hi, thanks for the report! I have a few random thoughts that I'll place here:

Just to make sure, do all of your `link` resources work in your `before_symlink` proc?

I noticed this line in your gist - https://gist.github.com/jwalton/da1634758061e190f049#file-partial-output-L39 - if your `before_symlink` is creating that file, there could be something bad happening when Chef attempts to make that

[2013-08-02 11:48] jwalton commented on #83
I don't have any `link` resources in `before_symlink`, as I was relying on `symlinks`.  :P

The readme says "symlinks - A hash that maps files in the shared directory to their paths in the current release", which makes it sound like it should work for plain files as well as for directories (and, like I said, it works on a vagrant VM for inexplicable reasons).  I agree; the symlink code is a bit st

[2013-08-03 00:35] ivey commented on #82
Can I see the resource you're using when you see this problem?

[2013-08-03 01:44] ckw4y commented on #82
It happens on any artifact_deploy resource that has artifact_location set to a maven identifier when the nexus server doesn't have a valid ssl certificate.

The actual bug is on providers/file.rb:70. Chef::Artifact.get_artifact_sha needs the 3rd parameter to be new_resource.ssl_verify

[2013-08-03 01:44] capoferro commented on #82
#85 may fix part or all of this issue due to my needing to float ssl_verify through the artifact_file resource. Should confirm.

[2013-08-07 17:52] jwalton opened #86 "artifact 1.8.0 dies on Linux with PaxHeader error"
[code]

Possibly related to http://tickets.opscode.com/browse/CHEF-4107?

[2013-08-07 18:17] jwalton commented on #86
And by "Linux" I mean Ubuntu 12.04.2.  :)

[2013-08-12 17:42] ivey commented on #86
Just pushed 1.8.1 using gnutar - no changes, other than the version.

[2013-08-12 17:42] #86 closed, assigned to nobody

[2013-08-19 17:51] #75 closed, assigned to nobody

[2013-08-19 17:51] #23 closed, assigned to nobody

[2013-08-20 00:38] gregsymons opened #88 "Anonymous access doesn't seem to work for me"
I see that you recently accepted a pull that makes the cookbook work if anonymous access is disabled, however, I can't figure out how you used anonymous access in the first place. If I omit the `username` and `password` fields from the data bag or set them to blank, then `nexus_cli` complains about them being missing. If I set them to `"anonymous"` then `anonymous_enabled?` fails because the anony

[2013-08-20 00:42] gregsymons commented on #88
Oh, and if I set the `username` and `password` fields for a different user that doesn't have the permissions to get user information, I get the same error as if I tried to use anonymous.

[2013-08-20 22:41] KAllan357 commented on #88
@gregsymons Thank you for pointing this out - I also noticed this problem yesterday. @bluepojo and myself have been working on addressing these shortcomings in both an update to this cookbook and some necessary changes to the nexus-cli gem.

If you are interested in trying out some of these changes locally and verifying our work, you can use the branch from this pull request - https://github.com/R

[2013-08-20 22:55] gregsymons commented on #88
I'll keep an eye on it... When you bring in the new nexus_cli with anonymous support, I'll see if I can test it on my cookbook. I assume I have to wait for that for anonymous access to actually work, right?

[2013-08-21 03:26] KAllan357 commented on #88
Yes, that is true. Very sorry for the inconvenience.

[2013-08-21 03:29] gregsymons commented on #88
Not a problem... My cookbook isn't ready for production yet, anyway.

[2013-08-29 15:48] ghost opened #96 "Should be able to specify the data_bag secret key"
Hi,

Right now we cannot select the data_bag_secret key location and it tries to load the default one. We have multiple keys and we need to be able to specify which one to use.

[2013-08-29 18:30] KAllan357 commented on #96
Hello,

This is currently not a feature that we are using. I do agree that this would be a useful feature and will tag it for a `1.11.0` release and come back.

In the meantime, this is a feature we would happily accept as a pull request.

[2013-09-03 22:38] jonathanq opened #97 "Undefined method 'chef_environment' (looks like from chef_artifact_nexus_configuration library)"
I just upgraded to 1.10.0, however every time I run chef-client it fails.

[code]

Looking in the code (https://github.com/RiotGames/artifact-cookbook/blob/master/libraries/chef_artifact_nexus_configuration.rb#L6), nil is being passed in for the node object which then tries to call chef_environment on it.

This might be a different code-path as I am using the S3 deploy method in a Vagrant box (so

[2013-09-03 23:25] KAllan357 commented on #97
This looks like a bug. I think we don't really need to be passing the node object around anymore - likely the methods should be changed to simply pass the environment name.

[2013-09-05 18:39] #97 closed, assigned to nobody

[2013-09-05 18:43] KAllan357 commented on #97
@jonathanq Can you give version 1.10.1 a try and let me know if that helps fix your problem?

[2013-09-07 04:30] jonathanq commented on #97
Yup - that fixed it, thanks!

[2013-09-07 04:38] jonathanq commented on #57
One issue I've come across is when you have a configuration file written out in one Proc, you aren't able to notify another service defined in another to restart.

This would be a case where a configuration file was updated during Configure but was _not_ related to an actual deploy.

In my after_deploy Proc I already added the if-block from https://github.com/RiotGames/artifact-cookbook/issues/68

[2013-09-11 00:51] KAllan357 commented on #69
I think this is okay.

[2013-09-11 00:51] #69 closed, assigned to nobody

[2013-09-11 00:51] KAllan357 commented on #88
@gregsymons Could you give 1.10.0 or higher and try this out again?

[2013-09-11 00:52] KAllan357 opened #99 "Make Chef::Artifact::Nexus.new more friendly"
I think it might help if the second param would default to `Chef::Artifact::NexusConfiguration.from_data_bag`

https://github.com/RiotGames/artifact-cookbook/blob/master/libraries/chef_artifact_nexus.rb#L9

[2013-09-11 01:18] gregsymons commented on #88
It looks like 1.10 solves my problem.

[2013-09-11 01:18] #88 closed, assigned to nobody

[2013-09-16 14:12] dparkar opened #100 "Issues when using artifact-deploy from an S3 source on a Windows Client"
1) credentials data-bags : I couldn't get it to use custom naming for data-bags, I had to use a data-bag called "aws" with item name "_wildcard". I am not sure if it was intentional, if so then I would suggest documenting a little more explicitly instead of giving it as an example.

2) I could get the file downloaded but wasn't able to unzip in the right directory, I thought this fix for Windows c

[2013-09-16 17:30] KAllan357 commented on #100
@LawfulEvil Thanks for the report.

1) I think data bags in general might need an overhaul. I think any large changes in data bags would result in a 2.0.0 release, and we'd need to come up with a good way to simplify things. For now, maybe some better documentation would help.

2) Hopefully there will be a new cut of the Windows cookbook soon to fix this issue. In the meantime, I've worked around

[2013-09-17 19:21] dparkar commented on #100
Thanks KAllan357 !

[2013-09-17 19:48] geerzo opened #102 "Duplicate extract directory"
I'm using the remove_top_level_directory attribute set to true to unpack the archive directly into the `releases/<version>` directory. This works great but on some subsequent runs I wind up with the archive unpacked again into the `releases/<version>/<artifact>` directory.

[2013-09-19 23:05] jonathanq commented on #100
I was on vacation - so just catching up on this now.  @KAllan357 @LawfulEvil - Does the switch to binary mode fix the issue on Windows?  Or is there still something I can look into to resolve this?

[2013-09-20 01:15] dparkar commented on #100
"wb" definitely worked for Windows. Don't think anything else is required from the POV of downloading from S3 and unzipping in a particular location.

[2013-09-29 00:01] gregsymons commented on #96
I was looking at trying to implement this, and the best way I could see was to go back to passing the node into `data_bag_config_for` in place of the environment (so I could pull a data bag secret path off the node attributes), but I saw that in #97 and #98, passing the node around was explicitly removed. Any suggestions on alternate implementations or is going back to passing the node OK?

[2013-10-03 21:46] andrewGarson commented on #102
@geerzo Is this when you upgrade a package to a new version or just when you run chef again w/o changing versions?

[2013-10-03 23:02] geerzo commented on #102
It's when running again without changing the version.

Sent from my iPhone

On Oct 3, 2013, at 5:46 PM, Andrew Garson notifications@github.com wrote:

@geerzo https://github.com/geerzo Is this when you upgrade a package to a
new version or just when you run chef again w/o changing versions?

—
Reply to this email directly or view it on
GitHubhttps://github.com/RiotGames/artifact-cookbook/issues/10

[2013-10-04 21:29] andrewGarson commented on #102
It shouldn't be trying to redeploy at all in that case. Is there any chance you could provide a repro case so I can try it here?

[2013-10-05 00:57] geerzo commented on #102
It was redeploying because a config file had changed which caused the manifest to vary. I will see if I can put together an example at some point.

[2013-11-21 02:12] gregsymons commented on #57
Here's a use case for fixing this issue that the `restart` proc can't solve:

I have multiple packages that I need to deploy, and if any of them are updated, I need to restart tomcat. I only want to restart tomcat once because there are things that happen during application startup that get very unhappy if they are interrupted, and could potentially put us into a state where we can't start at all.

[2013-11-21 02:29] KAllan357 commented on #57
Thanks, @gregsymons, I can see how that is an issue.

I'd like to come back and take a look at this at some point, though I haven't had the time recently. We are definitely open to pull requests though.

[2013-11-21 02:35] gregsymons commented on #57
I did find a workaround that works:

[code]

It's a little ugly, but it works. If I get some time I'll see if I can work on a pull request to fix the bug (perhaps after I do the work for #96 :smile: )

[2013-11-28 18:29] dparkar opened #110 "artifact_deploy (avoid current, releases, versions folders)"
Is there a way, to avoid this folder structure and simply deploy within the directory which I specified in the recipes ?

[2013-11-29 18:09] KAllan357 commented on #110
Not currently. The provider implementation is pretty heavily tied to the `shared, releases, current` structure. I don't think we would consider making this change, but I'd definitely be willing to check out a pull for this kind of functionality.

[2013-11-30 02:26] dparkar commented on #110
Thanks ! I'll try to look into it. Just FYI for everyone, I use symbolic links which help me achieve the same effect.

[2013-12-03 16:52] #100 closed, assigned to nobody

[2013-12-03 16:52] #82 closed, assigned to nobody

[2013-12-03 16:52] #78 closed, assigned to nobody

[2013-12-18 21:34] bdemers opened #112 "artifact_file does not allow you to set the destination filename"
Example, I want to download group/artifact/version/artifact-version.jar to /some/dir/differentFileName.jar

Currently artifact_file (and more specifically nexus_cli) only allows setting the destination directory

[2013-12-19 17:46] KAllan357 commented on #112
I think this makes sense. It looks like only the flow when we're downloading from a Nexus server is affected by this issue. I think I'd prefer we share the similar path that Chef uses, where they either copy or move the file to the name attribute's path.

[2014-01-15 02:27] KAllan357 opened #113 "undefined method `to_hash` for nil when missing data bags"
Had this error occur when I definitely didn't have a single data bag in my Chef server. Looks like we are missing a check somewhere.

[code]

[2014-01-27 18:17] xeon22 opened #115 "File provider checksum_valid? fails to verify file"
The file provider when passed a nexus artifact location, will fail when attempting to verify the file if the nexus artifact co-ordinates contain a LATEST string for the version of the artifact.

[2014-01-28 22:36] KAllan357 commented on #115
Can you explain a bit more? Are you saying that the `artifact_file` resource fails if you pass it something like...

[code]

[2014-01-29 14:12] xeon22 commented on #115
Certainly.  When the artifact_file resource downloads the location as specified above, it will resolve com.test:my-artifact:tgz:LATEST to say my-artifact-1.0-SNAPSHOT.tgz.  When a call to checksum_valid? method is made, it is passed my-artifact.tgz.  Thus it fails to find my-artifact.tgz to verify the checksum because my-artifact-1.0-SNAPSHOT.tgz is the file name is should be checking.

[2014-01-29 18:20] KAllan357 commented on #115
Thanks, that makes sense. I will take a look at this.

[2014-02-09 14:15] JeanMertz commented on #68
@KAllan357, running into the same issue as @tomduckering, although our use case exactly matches your assumption:
1. init.d script that references `/current`
2. `restart` proc that gets called before the symlink
3. on initial boot, the app doesn't even start (given that `/current` isn't even present)
4. on subsequent boots, an old symlink is used

Using a conditional `after_deploy` works, but it fe

[2014-02-10 21:34] mgreensmith commented on #68
Am running into this issue as well, and attempted @KAllan357's workaround (testing `current_symlink_changing?` in an `after_deploy` proc). However, this failed for me because comparing the location of the current symlink after the link action has already been completed will always result in equality.

I ended up testing against `deploy?` and `manifest_differences?` instead. This doesn't test the s

[2014-02-10 22:28] KAllan357 commented on #68
Since it sounds like we already have an init.d type template that is already being managed by Chef, I still think the appropriate action is to reference `release_path` instead of `current_path` in the file. Is there a reason that approach doesn't work?

[2014-02-10 22:46] mgreensmith commented on #68
I'm deploying a ruby app running under unicorn, and sending a USR2 reload to unicorn (via bluepill). Unicorn working directory is `current`. If I had to change the working directory on every deploy, I would lose the ability to do the inline reload (unicorn USR2 exec's the newly-forked master in the working dir of the original process), and would be forced to explicitly stop and start, causing down

[2014-02-11 09:59] JeanMertz commented on #68
@KAllan357 using `release_path` is a possibility, but this means the init.d script controlling the service needs to be updated every time to point to the new `release_path`. Furthermore, it requires some extra work to handle rollback cases. All in all, at least in _my usecase_, that would cause more problems than having the `restart` callback being fired _after_ `current_path` symlinking.

Of cour

[2014-02-11 10:00] JeanMertz commented on #68
@mgreensmith could I ask you how you are handling Ruby/Rails deployments using the artifact cookbook? I would like to use it for Rails apps as well, but we're currently using the `application_ruby` cookbook, because this cookbook (as the name implies) only supports artifact downloads, whereas we'd rather deploy if a git branch has changes in them.

[2014-02-11 20:00] KAllan357 commented on #68
I think I'm convinced. I'm not sure how disruptive it will be to change, but I will target this and some other issues in a 2.0.0 release. I think I will just change the ordering as discussed above.

[2014-02-11 20:36] mgreensmith commented on #68
@KAllan357 Awesome, thanks. At the cost of increasing complexity, you could consider making the ordering of some actions configurable for multiple use cases.

@JeanMertz We "build" our ruby app in Jenkins (bundle install into a subdirectory, build assets, etc.) and then tar up the entire application directory including the bundled gems. This makes our deploy process simple and fast: use artifact_d

[2014-02-13 09:58] dennis-benzinger-hybris opened #116 "Broken Link to Manifest Differences Flowchart"
The link to the "Manifest Differences Flowchart" on https://github.com/RiotGames/artifact-cookbook is broken (below the main flowchart). It results in a 404 Not Found page.

[2014-02-14 01:03] nefilim opened #117 "new snapshots are not deployed"
not sure if i'm doing something wrong or if it's related to #75

i publish a tar.gz artifact to my snapshots repo, containing my project jar and it's dependent jar (assembled with the sbt-pack plugin). when i publish a new artifact with the same snapshot version (but the project jar internally has changed), the artifact is not pulled down again but the cached version is reused.

as an aside (not s

[2014-02-14 18:50] geerzo opened #118 "Error when trying to download a Snapshot version from nexus"
When trying to download a snapshot version from nexus there seems to be a file naming problem. For example, when I try and download library 1.1-SNAPSHOT it does download it but it saves the file using the snapshot timestamp format.

[code]

This causes artifact problems and generates this error.

[code]

Is there a way to resolve that?

[2014-02-14 19:16] KAllan357 commented on #118
This sounds like it could be a bug (or series of them). I would think that if you redploy a new snapshot, it should have a new SHA, so this cookbook should download it. There must be another spot where its being ignored is my guess.

[2014-02-14 19:28] geerzo commented on #118
Just to clarify....
- This is the initial install, not a redeploy
- The file is being, the filename is just incorrect

[2014-03-07 16:49] xeon22 opened #119 "artifact_package fails to detect the file extension"
The artifact_package resource fails to detect the extension of the file that it will be downloading.  This causes the following exception:

[code]

[2014-03-11 15:58] BarthV commented on #118
Same issue here,

[code]

[code]

[code]

artifact_deploy can't handle maven "_-SNAPSHOT" specific version syntax.
The resource seems trying to consider "_-SNAPSHOT" as a full version string and replace it in unzip/untar further steps.
`artifact_deploy` should assumes "*-SNAPSHOT" version being ''moving version'' and not static one. and then following metadatas to work with good file.

thx

[2014-03-11 20:42] gregsymons commented on #118
#121 fixes this issue for artifact_deploy.

[2014-03-13 00:39] #118 closed, assigned to nobody

[2014-03-14 14:17] BarthV commented on #115
Same issue on my side ...
When we are using a specified artifact version, we can build path with expected filename and lwrp is able to verify checksum.

But if you're using an unpredictive way to define version (LATEST, ***-SNAPSHOT, ...) filename stays unkown and lwrp can't check file signature and breaks.

[2014-03-14 14:24] BarthV opened #122 "artifact_file 'path' argument is not functionnal"
Hi !
This is working :

[code]

This is not :

[code]

`artifact_file` LWRP seems to totally ignore path option (`path` doesn't seems to be mentionned once in the provider code).
Tell me if you want me to dive a bit into file.rb provider file, and sumbit a fix.

[2014-03-14 17:31] KAllan357 commented on #122
I think originally this was written with the name attribute being the important attribute. I am okay with adding in a path attribute, I will take a look at the pull.

[2014-03-14 17:36] BarthV commented on #122
According to resource file and cookbook readme, path attr is already present and available.
It's not really an addition for me .. Only a very simple fix :)

[2014-03-14 22:15] KAllan357 commented on #115
There is definitely something left to be desired here on some particular edge cases (LATEST, SNAPSHOT). I've been thinking about ways to handle this, but haven't come up with a great fix yet.

[2014-03-15 10:29] BarthV commented on #115
I'm (trying) to work on this for a fix, but I got many file naming dependency problem (there is at least : real filename, destination filename, filename in chef/cache for SHA signature, metadata filename) ...

I think file lwrp should detect "rolling version" tags like *-SNAPSHOT and LATEST and switch his behavious based on this. But i'm not absolutely sure yet.

[2014-03-15 19:58] BarthV commented on #115
I suggested something to try to fix this problem

[2014-03-16 08:53] BarthV commented on #112
We could easily provide this feature with adding a new (optionnal) "symlink" option for the resource ? no ?

[2014-04-07 09:04] BarthV commented on #122
closing this one, some merged PR fixed this.

[2014-04-07 09:04] #122 closed, assigned to nobody

[2014-04-07 09:06] BarthV commented on #117
Hi !
Please test latest master branch and see if current cookbook state fix your issue.

[2014-04-07 09:06] BarthV commented on #115
Please test latest master branch and see if current cookbook state fix your issue.

[2014-04-07 09:06] BarthV commented on #112
Hi !
Please test latest master branch and see if current cookbook state fix your issue.

[2014-04-07 20:56] nefilim commented on #117
doesn't look like it I'm afraid :(

[2014-04-07 21:06] BarthV commented on #117
I can probably explain what's going wrong in this case :
For me, Deploy lwrp won't check SHA signature if your current deployed artifact matches cached signature (into /var/chef/cache/artifact_**).
We nées to 'short-circuit' this and force Nexus metadata check in case of snapshot or latest version.

I'll check if this is rly this kind pb

[2014-04-10 01:35] galvarez1 opened #129 "ArtifactNotFound exceptions"
Not really sure why i get constant ArtifactNotFound exceptions in the AMS env. The artifact is there, it actually gets deployed, and some chef runs work fine; while subsequent runs fail with ArtifactNotFoundException. You can see 3 runs in mb-plugin: #461-#463, where 461 and 463 succeeded, and 462 failed.

[2014-04-14 15:04] BarthV opened #130 "Speed up LWRP run"
Hi,

Currently each time you call one of the artifact's LWRP, it loads a bunch of deps and gems.

For one of my project, I'm working with a large number of artifacts and Chef takes a very long time (10~20 min) only to install/update chef_gem for each lwrp.

Maybe it would be interesting to provides a single recipe which would load all needed gems and dependencies, and then makes repetitives call l

[2014-04-14 17:45] KAllan357 commented on #130
Hi @BarthV,

Can you give a bit more detail? The requires for the nexus-cli and aws gem's _should_ not be loaded unless they are needed. It would be interesting to see some metrics of where the time is being spent.

[2014-04-14 18:24] BarthV commented on #130
I'll build a test server with a powerful hardware/network tomorrow and write down some metrics from our live Nexus.

For now, I'm really convinced that each time you call a lwrp, it fires a chef_gem action who is checking rubygem repositories and trying to update the gems everytime (this takes a while each time) .. I was just thinking a way to refactor all these redundant calls to only trigger onc

[2014-04-15 12:24] BarthV commented on #130
After testing deploying 20 different Nexus artifact in a test recipe, I see that chef_gem takes ages only in my vagrant VMs (I don't have a rly bad hardware I think):
20~30 sec for each `chef_gem[nexus_cli] action install` call
On a server grade hardware chef_gem call is nearly seamless, so it's fine.

30sec run to re-converge the same recipe versus 3m40 on my Vagrant :-/

I close this, ty

[2014-04-15 12:24] #130 closed, assigned to nobody

[2014-04-15 15:29] BarthV commented on #117
I tried to reproduce your issue using the current master branch (6410b2f) and following this simple recipe:

[code]

First run was ok and it fetched the latest build ->

[code]

Then triggered a build on my Jenkins, and made a second run ->

[code]

All is fine for me (it also worked with a snapshot), can you retest and give a bit more details ?
Thanks

[2014-04-15 15:35] nefilim commented on #117
Thanks for looking! The one thing that immediately stands out to is the use of version "LATEST", while I am using a specific version eg. "0.1-SNAPSHOT". I was having trouble with "LATEST" not working on my nexus instance (I'll revisit this, it's been upgraded).
What happens if you set the version to a snapshot explicitly?

[2014-04-15 16:01] BarthV commented on #117
It's identical with `2.0-SNAPSHOT` (in my case) version, working well for me (maybe i'll retest that, i'm 99% sure about this).

[2014-04-15 17:18] KAllan357 commented on #130
Ah this makes more sense now. I am forgetting the exact fix, but I believe I've noticed this when Vagrant is running on either a public or private network. In fact, I might have added the answer to this stackoverflow to my Vagrantfile in some cases - http://serverfault.com/questions/495914/vagrant-slow-internet-connection-in-guest

[2014-04-15 17:43] nefilim commented on #117
I checked LATEST again, running into a 500 error, which I've reported to sonatype, ok with the exact version. I'm wondering if there's something wrong with my method of publishing (using SBT) or my repository setup.
Is there debug logging I can enable? Or could you point me to the location in the cookbook code where it's determined if the repository artifact is newer that I can take a closer look/

[2014-04-15 19:06] BarthV commented on #117
- First, check the Chef cookbook local cache directory and verify if cookbook metadatas are correct (must be `1.11.13` with `get_artifact_filename(coordinates)` method in `libraries/chef_artifact_nexus.rb` file).
- `ls artifact_deploy` in the Chef local cache directory to check how the server identify the remote file and match if its hash is correct.
- to follow deploy steps , look :deploy action

[2014-04-16 02:40] nefilim commented on #117
Thanks, I have some data.

[root@ip-10-0-20-18 artifact]# grep version metadata.rb
version          "1.11.3"
[root@ip-10-0-20-18 artifact]# grep get_artifact_file libraries/chef_artifact_nexus.rb
      def get_artifact_filename(coordinates)

I have also have some debug log excerpts and a timeline, all in a file, is there somewhere I can send or upload it?

We can see that the sha1 is updated in ne

[2014-04-16 07:31] BarthV commented on #117
I'll see if I can take some time to re-test and try to reproduce again.

[2014-04-16 13:44] nefilim commented on #117
Thanks. Would the debug logs I captured be of any use? If you're interested I could probably give you access to one of my nodes to take a first hand look.

[2014-04-17 16:02] BarthV commented on #117
can't even reproduce your issue with my Nexus :

[code]

[code]

and after a new build ->

[code]

[code]

after another build :

[code]

[code]

Can't help you more with that.

[2014-04-18 01:43] nefilim commented on #117
I looked into this a bit, the problem is that the deploy step does a simple **version** comparison in _manifest_differences?_, where **version** is from the version tag in the response from the _nexus/service/local/artifact/maven/resolve?_ query.

Looks like publishing with maven has some trickery to replace SNAPSHOT with a timestamp & build number, this is why your releases directory entries look

[2014-04-18 08:04] BarthV commented on #117
I don't know what kind of artifact snapshot tagging is really expected, but in your case if your version is strictly the same on each build, `manifest_differences?` is clearly not updating the resource.

That's what I thought in my first comment ;) :
https://github.com/RiotGames/artifact-cookbook/issues/117#issuecomment-39783651

Now the question is : who's making it wrong ? Your maven job, mine,

[2014-06-03 15:48] acm1 opened #133 "v1.12.0 from cookbooks.opscode.com is badly packaged"
<pre>
================================================================================
Recipe Compile Error in /mnt/chef-solo/cookbooks/artifact/providers/PaxHeader/deploy.rb
================================================================================

SyntaxError
-----------
/mnt/chef-solo/cookbooks/artifact/providers/PaxHeader/deploy.rb:1: syntax error, unexpected tIDENTIFIER, expecting $end

[2014-06-03 18:59] #133 closed, assigned to nobody

[2014-07-01 21:09] adamlunger opened #135 "unzip -u trumps -o"
The unzip command used in the extract_artifact! method of artifact_deploy provider does not overwrite changed files. The -u option trumps the -o option causing the command to only extract "files that are newer than those with the same name on disk". At that point the manifest is recreated from a file set that is not representative of the archive.

[2014-07-07 18:39] tarrall commented on #68
Any movement on this?  I'd love to help test any changes.

For us, moving the if deploy? ... run_proc :restart block to after the "current" symlink creation looks like it should be sufficient.

This will make your artifact_deploy provider match the [behavior of Chef's deploy provider](http://docs.opscode.com/resource_deploy.html#deploy-phases) which would be a huge win.  Doesn't seem like it shoul

[2014-07-07 18:45] tarrall commented on #117
@nefilim we've had good luck using [arktekk's sbt-aether-deploy plugin](https://github.com/arktekk/sbt-aether-deploy) to solve the "dark and scary path on publishing Maven style with SBT" problem.  Works great for us but if that's too much magic, there's also a big ugly curl command you can use; let me know if you need that.

[2014-07-07 20:20] nefilim commented on #117
@tarrall thanks, have had reasonable success with it, just one (nexus) issue: https://github.com/arktekk/sbt-aether-deploy/issues/21

[2014-07-08 16:47] CloCkWeRX opened #136 "uninitialized constant Chef::Artifact::DATA_BAG_NEXUS with chef's class_from_file"
[code]

Annoying load order issue or something - http://www.rubydoc.info/github/opscode/chef/master/Chef/Mixin/FromFile:class_from_file doesn't know to load the definition of chef::artifact.

Only started occuring when I upgraded to berkshelf 3.0 :/

[2014-07-08 17:04] CloCkWeRX commented on #136
Nevermind, someone had forked the the cookbook and the load order went stupid.

[2014-07-08 17:04] #136 closed, assigned to nobody

[2014-07-11 18:49] khvatov opened #137 "artifact_file does not set owner and group"
I have a recipe:

[code]

After it completes I would expect the output file 'mysql-connector-java.jar' to be owned by myuser:usergrp, but since chef-client runs under the 'root' the final file is owned by root:root.
Alex

[2014-07-24 19:09] dashirov opened #138 "artifact_file::location should be aware of "latest" version"
GAV coordinates referring to "latest" version work in artifact_deploy, but fail in aftifact_file. Behavior/feature set should be consistent.

[2014-08-07 18:36] quintonm opened #140 "downloaded artifact has wrong checksum"
nexus cookbook v3.3.0
artifact cookbook v1.12.1
chef-client: 11.4.4

Attempting to converge a node with the nexus cookbook v3.3.0, a failure is reported due to the downloaded artifact having the wrong checksum.  This is being caused because the artifact has a second layer of gzip compression.  This does not happen if the artifact is downloaded using wget.  This might have something to do with the

[2014-08-07 19:48] KAllan357 commented on #140
@quintonm I may be wrong about attribute precedence, but it might be possible to override that checksum and have it be empty.

No matter what, I'd suspect that even if the checksum were to be correct, the next error would be that the tgz couldn't be unzipped properly.

At the moment, I'm not sure how to classify this issue. When we download via the artifact-cookbook via a straight URL, we delegate

[2014-08-08 07:45] florentdupont opened #141 "ChefSpec and unit-testing recipes with artifact-cookbook callbacks."
Hi,

I have some limitations when testing my recipes with the artifact LWRP using ChefSpec...
In fact, i just test the parameters passed to the action. for example :

[code]

But i'd also like to test all others LWRP that should be executed in the "callback functions" (i.e. before_extract, after_deploy, etc.). The thing is : the Procs designed by these functions are not run during ChefSpec executi

[2014-08-08 17:23] KAllan357 commented on #141
@florentdupont nice writeup here. Unfortunately, I'm not sure I have a satisfactory answer. In many cases, we aren't unit testing our recipes.

I think the idea makes sense though, and I can offer a few ideas. I think they might all extend outward from one grander idea - a rewrite of this LWRP to implement `Chef::Provider::LWRPBase`.

From there, you'd get...
- a better ability to unit test this a

[2014-08-09 19:40] jmickle opened #142 "Dont unzip war/jars"
War/JAR files should not always be unzipped.

https://github.com/RiotGames/artifact-cookbook/blob/master/providers/deploy.rb#L194-L207

[2014-08-09 19:53] jmickle opened #143 "wrong tar command"
[code]

this is surprising this works, assuming you are using a .tar file explicitly. This is the wrong subset of commands for file types and extraction.

[2014-08-10 08:44] awillis commented on #143
Yes I agree, this looks wrong.

[2014-08-11 06:01] howdoicomputer opened #144 "ability to select nexus_cli gem version"
Currently, the nexus_cli gem's version is hard coded into the file provider. It would be nice to be able to pass that in as a attribute.

[2014-08-11 17:06] capoferro commented on #143
What specifically is wrong? Are you able to provide a fix?

Is it that it's missing the z for gzipped files?

[2014-08-11 17:07] capoferro commented on #142
This is true, good catch. Are you able to provide a fix?

[2014-08-11 17:10] awillis commented on #143
The x and f options say extract and specify the file. There are no options here for the specific type of compression used. The tar format itself does not do compression.

[2014-08-11 17:17] awillis commented on #143
The j option is needed for bzip2 and the z option for zlib compression.

[2014-08-11 17:27] capoferro commented on #143
Cool, we'd definitely accept a PR fixing this.

[2014-08-11 17:31] jmickle commented on #142
I suppose i can fix

[2014-08-11 17:31] jmickle commented on #143
yeah i can break this out and PR it i suppose

[2014-08-11 17:38] awillis commented on #143
Yah I was going to submit a PR sometime this week.

[2014-08-11 17:42] capoferro commented on #142
That would be appreciated!

This is not something that we are affected by (we mostly deploy tars via this cookbook) so it's unlikely this will get fixed except through a community contribution.

[2014-08-11 18:16] jmickle commented on #143
Awesome @awillis you on this one? I can focus on 142 if you are

[2014-08-11 18:23] awillis commented on #143
Yup, I've got it

[2014-08-11 18:33] jmickle commented on #143
great i will focus on 142 then and get that in the next couple of days :-)

[2014-08-11 18:34] jmickle commented on #142
Great, i will get a PR in the next couple of days on this

[2014-08-11 18:42] hntd187 opened #145 "Cookbook does not follow 302 Responses"
When an API call gives a 302 response the gem just thinks it's valid and downloads it giving you a useless html file with just the redirect HTML. Any chance on getting this fixed?

[2014-08-13 03:07] jmickle commented on #142
PR https://github.com/RiotGames/artifact-cookbook/pull/146 created

this is a temporary fix, the problem here is that this will copy a file from an already downloaded location into a new location. This could be bad because it may result in loading the file into memory while ruby does its read buffer which could cause slow operations or possibly OOM problems for users. The proper fix for this would

[2014-08-14 13:30] florentdupont commented on #141
Thank you for you answer. That'd be great but this might take a lot of work to refactor the existing LWRP to implement LWRPBase. For now, I think we are just going to unit-test by testing the parameters passed to the action.
To make some further tests, we'll use some integration tests (like Test-Kitchen).

[2014-08-14 13:30] #141 closed, assigned to nobody

[2014-08-14 16:56] florentdupont opened #147 "use_symlinks option to deploy without symlinks"
I'd like to propose a feature that could allow a **deployment without the use of symlinks**.

This feature could be available through a new parameter called `use_symlinks` (default to `true`).
The behavior of any artifact deployment stays the same if the option is not set or set to `true` (default value).

If `use_symlinks` is `false` then no symlinks are used for the deployment but are still foll

[2014-08-14 17:46] KAllan357 commented on #147
:+1: - I think this is a great idea. For Riot we've only needed to support Unix and Windows 2008R2 - both of which support symlinks (or junctions).

I'm all for supporting other OSes with the optional attribute you describe.

[2014-08-18 18:33] #142 closed, assigned to nobody

[2014-08-18 18:33] jmickle commented on #143
@awillis any update on this?

[2014-08-18 19:28] issacg commented on #68
I'm running around in circles on this.  I'm using chef 11.14.2 with artifact 1.12.1 and running into this issue.

I've tried using

[code]

But get the error:

[code]

I then tried

[code]

but nothing ever happens.

I tried looking at the same code that seems to trigger the restart proc and did:

[code]

that did work, but is triggering the restart more often then it should: I deploy from a tarba

[2014-08-20 20:42] awillis commented on #143
https://github.com/RiotGames/artifact-cookbook/pull/148

Sorry for the delay, been busy with work stuff. I don't have any test artifacts to test it with, perhaps you do?

[2014-08-20 21:50] jmickle commented on #143
all ive got from nexus are tar.gz's etc, maybe this would be a good use case for the unit tests?

[2014-08-22 19:01] awillis commented on #143
A test with a tar.gz only is fine. We're not resting the tar programs ability to decompress archives, just the providers ability to pass the right options. You might also rename the tar.gz as tgz and test that, and decompress it using gzip and test with  the resultant tar.

[2014-08-25 21:11] evangael opened #149 "artifact_file try to verify the checksum when it's not provided in the recipe"
chef-client : 11.4.4
Artifact cookbook : 1.11.2

When I try to converge one of my node I get an error about an invalid checksum for a file. The thing is, I'm not using nexus nor am I providing a checksum. The file is still in the s3 bucket and didn't change.

Part of the recipe handling that :

[code]

And the error in the chef-client run :

[code]

[2014-08-26 01:35] KAllan357 commented on #149
Can you verify the contents of your file_cache_path/artifact_file? There could be some edge case here that I am unaware of.

[2014-08-26 12:55] evangael commented on #149
Hello KAllan357, there was some files theres with what I expect would be checksum. There was one for the licence file. Deleting the content of this dir fixed this problem.

But, this file, in the recipe never included any checksum checking.

[2014-08-27 00:41] KAllan357 commented on #149
@evangael the original intent behind some of the code in the `artifact_file` provider was meant to be as close-as-possible to Chef's implementation in `remote_file`.

Basically, the resource should be idempotent enough that if won't redownload the file that's already cached in Chef's file_cache_path - this is implemented by the checksumming mechanism at fault in this issue.

This definitely sounds

[2014-08-27 16:52] quintonm commented on #140
@KAllan357 You are correct about what happens if the checksum is ignored.  It looks like this is caused by a defect in the remote_file resource.  Updating to the latest version of the chef client resolved the issue.

[2014-08-27 16:52] #140 closed, assigned to nobody

[2014-08-27 18:11] KAllan357 commented on #140
@quintonm, Do you think that you could post a link to the Chef issue in question that caused this behavior?

[2014-08-28 09:41] florentdupont commented on #142
I don't understand why the use of `is_tarball= false` is not enough in your case ?
you could provide an artifact with a WAR/JAR extension and assure it will not be extracted by using the `is_tarball` parameter.
This is the (only) goal of this parameter as shown [here](https://github.com/RiotGames/artifact-cookbook/blob/master/providers/deploy.rb#L125).

[code]

In the Pull Request #146 you provide

[2014-08-28 16:35] jmickle commented on #142
@florentdupont precisely, the problem is. it does not work. The way the rest of it is written is it still seems to pass it directly to this function. Thats why if you read my last comment there needs to be some refactoring done on this. For now the copying was a quick fix to stop the tar -zxvf on a .war

[2014-08-29 12:51] florentdupont commented on #142
I'm probably missing something here.
To clarify the situation, when I use the following code inside `extract_artifact!` (in providers/deploy.rb) :

[code]

**Test 1.** with a cookbook like this :

[code]

My war is deployed at `C:\Temp\deploy_test\releases\14.9.1-20140829.121052-5\xxx-14.9.1-20140829.121052-5.war`
(it stays zipped)

**Test 2.** With a second cookbook like :

[code]

is deploying l

[2014-08-29 21:22] fujin commented on #57
ping any updates here, just saw this https://gist.github.com/fujin/935677bb1303d7ad85db

[2014-09-02 17:01] jmickle commented on #142
very possible specific to unix platform, we may need to investigate further.

[2014-09-05 18:56] fujin commented on #68
Just hit this one trying to use the 'current' symlink in a systemd unit file to a binary included in the deployment artifact. :8ball:

[2014-09-06 00:24] fujin commented on #68
I submitted a change which moves the callback execution timing for both migration and restart to after the current symlink is generated @ #153.

[2014-09-11 03:46] quintonm commented on #140
I was unable to find the issue where this was fixed in the chef client.  I
am guessing that it was fixed as part of another change.

On Wed, Aug 27, 2014 at 1:11 PM, Kyle Allan notifications@github.com
wrote:

[2014-09-21 12:45] JeanMertz commented on #68
still in favour of this change. Any update on this recently @KAllan357 ?

[2014-09-24 20:47] jmickle opened #155 "Feature Request: add chef-vault support"
add support to use chef-vault instead of encrypted_databags. This ticket is to serve as a place holder. Would be nice to get some support from authors on this but if not I am starting a fork to add this in.

[2014-10-31 18:58] kainosnoema commented on #68
Also in favor as this is preventing us from moving entirely to artifact. @tarrall's suggestion seems simplest. Would rather not fork if we don't have to.

[2014-10-31 20:16] florentdupont commented on #147
merged in PR #150

[2014-10-31 20:16] #147 closed, assigned to nobody

[2014-10-31 20:22] florentdupont commented on #143
Tested using `tar.gz` => failed
For `tgz` extension => I confirm it's working.

Concerning the `tar.gz`failure. The problem is not the tar command but the previous test with the extension. I provided a correction in PR #156.

[2014-12-02 17:34] fire commented on #155
Has there been any progress on this? I noticed that the Nexus cookbook has vault support. Perhaps you can glance at how they do it.

[2015-01-13 06:33] crackmac commented on #144
+1

[2015-01-20 20:54] JonMR commented on #141
I'd also like to unit test my recipes.  Has this changed since August?

[2015-01-22 23:19] KAllan357 commented on #141
@JonMR, I'm sorry to report it has not. I'd welcome a pull request to reach this functionality, though!

[2015-02-09 19:02] melezhik opened #157 "file:// schema support"
hi and thank you guys for the great cookbook. I wonder if artifact deploy may install files from file system with source as file://path-to-file.

[2015-02-21 05:24] rampire commented on #142
Excepting minor changes and fixes in 1.12.1 (it's other question why version number is less) from master branch got significant functionality break. For me at least.
Got to pin 1.12.2 version from 1-12-stable branch.

[2015-02-23 23:00] garrypolley opened #158 "Tag versions of cookbook"
I was a little confused when I came to this repository and looked at the tags/releases and did not see any of the versions that are in the `1.12.x` line.

https://supermarket.chef.io/cookbooks/artifact/versions/1.12.2

I see it on supermarket but I do not see them tagged here.  Am I missing where these are tagged?  Was there a reason to stop tagging if they are in fact missing?

[2015-03-18 11:14] melezhik opened #159 "pass http headers to Chef::Resource::RemoteFile"
now as I see in the code there is no way to pass http headers to artifact_deploy resource , which will be very useful when request http resources requiring  basic authentication.

[code]

[2015-05-06 13:48] ghost opened #162 "artifact_file with credentials"
Been using this for a while and have just removed anonymous users from artifactory but I cant seem to get artifact_file to use login credentials.

Is there an example of how this is done?

[2015-05-16 10:37] glenjamin commented on #143
It's worth noting that (at least) GNU tar detects the compression type based on filename, so this will only fail when using older versions of tar.

[2015-05-18 19:11] ntorres-globant opened #163 "Avoid the package extraction"
My application doesn't need to extract the war package. In fact "unzip" is not installed.
Is it possible to skip the package extraction with a flag or something like it?

Thanks!

[2015-05-21 07:51] BarthV commented on #143
-1 !
Tar command auto detect archive format for ages !
Providing -z or -j is not a good recommandation anymore ...

[2015-05-24 08:46] BarthV commented on #163
I did it on my own wrapper. I'll check the code later, but it's not impossible at all :)

[2015-05-28 01:03] ntorres-globant commented on #163
Actually, the version here: https://supermarket.chef.io/cookbooks/artifact/versions/1.12.1 (that is what the chef server automatically downloads when requested) is different from this repository contents.

The supermarket version has the package extraction for war files and the github version does not.

Since I need the later behaviour I just downloaded the code and manually uploaded to the chef s

[2015-05-28 01:03] #163 closed, assigned to nobody

[2015-06-01 09:56] joerg commented on #137
Haven't tried the pull request, but a +1 here to get this fixed soon...

[2015-07-02 08:10] frntn commented on #163
I'm having the same issue here.
Any idea when the supermarket repo will be synced ? (I 'd like to keep on using Berkshelf and prevent myself from manual hacks)

[2015-09-01 12:19] joerg opened #165 "Messy ChefSpec tests with artifacts (previos definition of ... was here)"
When testing any recipes/cookbook with ChefSpec that uses artifacts there are a lot of warnings about "previous definition of ... was here":

[code]

For me these warnings fill about 3 to 4 screens for each run.

This could easily be fixed with rubys OrEquals operator:

[code]

[2015-09-03 01:40] maoueh commented on #165
Fixed by #164.

[2015-09-16 12:58] BarthV commented on #158
:+1:

[2015-11-18 01:37] CloCkWeRX commented on #149
https://github.com/chef/chef/issues/2681 is worth a bit of a look re changed behaviour around checksums

[2015-11-18 01:37] CloCkWeRX commented on #140
https://github.com/chef/chef/issues/2681 potentially?

[2016-01-07 04:44] ameir opened #167 "Still maintained?"
This cookbook hasn't been updated in over a year, and PRs are sitting idle without review.  There are plenty of forks that have independent changes.  Are there plans to keep this cookbook maintained, or should we look to one of the forks instead (or fork our own, with changes)?  Thanks!

[2016-01-07 09:30] BarthV commented on #167
:+1:

[2016-01-25 10:38] obazoud commented on #167
@KAllan357 If you need help, I could be a co-maintainer of this cookbook: review PRs, answer
questions, make additions and corrections, ...

[2016-03-06 22:10] dparkar commented on #167
same question here

[2016-03-06 22:18] dparkar opened #169 "artifact_test does not appear to be a valid cookbook. Does it have metadata.rb ?"
Adding dependency on artifact cookbook first time in a repo.

1) knife cookbook site download artifact
        - gets the latest : artifact-1.12.2.tar.gz
2) tar -zxvf artifact-1.12.2.tar.gz
       - unzipped in cookbook folder
3) rm artifact-1.12.2.tar.gz
      - delete the tar file
4)  cd artifact/
5) berks install

output :
Resolving cookbook dependencies...
Fetching 'artifact' from source at .

[2016-03-06 22:20] dparkar commented on #167
adding another owner as per chef supermarket @reset

[2016-06-17 10:07] m2rt commented on #167
Same question here. The changelog and version in metadata.rb does not match.

[2016-06-27 10:41] joerg opened #170 "Latest versions of chef do not include activesupport"
Is seems that activesupport is somehow needed by nexus_cli but this gem is not included by the latest chef builds by default. I get an error like this

[code]

Chef version is 12.11.18.

[2016-07-14 12:39] m2rt commented on #170
Same problem here. Client version 12.12.15

[2017-01-17 15:09] ghost commented on #169
I have done now! Did you find a way around it?

[2017-02-23 00:31] dparkar commented on #169
It's been a while, I have lost context. Did you solve this ?

[2017-08-30 09:22] athreyavc1 opened #173 "uninitialized constant Chef::Resource::ArtifactFile on Chef client 13"
Hi,
artifact-cookbook not working after I upgraded the chef client to

[code]
[code]

Chef Server is 12.x

Regards,

[2017-08-30 09:55] athreyavc1 commented on #173
Changed artifact/providers/file.rb line 48 to

[code]

Working now.

[2018-02-26 10:02] SergioMorenoFernandez opened #174 "NoMethodError: undefined method `split' for :mid:Symbol on Chef Server 13.7.16"
Hi,

Artifact cookbook give me an error when try to connect with nexus, after I upgraded the chef client.

[code]

[code]

Best regards,

[2018-10-26 11:00] sgoogal opened #175 "This cookbook doesn't support newer version of nexus, since Nexus 3 has different endpoint for downloaidng artifacts, seems this cookbook doesnt work for nexus version 3.x"
This cookbook doesn't support newer version of nexus, since Nexus 3 has different endpoint for downloaidng artifacts, seems this cookbook doesnt work for nexus version 3.x

[2019-04-25 00:08] hamitron commented on #173
Would be nice if this change was pushed.

[2019-04-29 20:02] hamitron commented on #173
I was able to resolve this issue by using the built in [remote_file resource](https://docs.chef.io/resource_remote_file.html), and I've heard the [Ark Cookbook](https://github.com/chef-cookbooks/ark) is useful as well

[2019-11-08 16:09] alejandrod commented on #175
Please merge all the PRs!!! the repo is dead anyways

[2021-12-19 04:35] #102 closed, assigned to nobody